{%  extends "jgz/index.html"  %}

{%  block daohang  %}
	{%  if daohangtiao  %}

        {%  for k,v in daohangtiao.items  %}
	<li class="dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{{k}} <b class="caret"></b>
				</a>


				<ul class="dropdown-menu">{%  for i in v %}
					<li><a href={{ i.2 }}>  {{ i.1 }} </a></li>
					{% endfor %}
				</ul>


			</li>
			{% endfor %}
	{% endif %}



{% endblock %}

{% block content  %}
    <div class="table-responsive">
	<table class="table">
		<caption>welcome to  <button id="bt_leixing" type="button" class="btn btn-info">php回滚</button></caption>
		<thead>
			<tr>
				<th>PK</th>
				<th>主机</th>
				<th>状态</th>
		
			</tr>
		</thead>
		<tbody>
		{% if jhp_list %}
		
				{% for i in jhp_list  %}
			<tr>
				<td >{{i.0}}</td>
				<td>
					  {{i.1}} 
                </td>
				<td>
					
				<button type="button" class="btn btn-danger" onclick=xin_php_huiguntishikuang("{{i.0}}") id="faban_bt1" >GO...</button></td>


			</tr>
			   {% endfor %}
			
		{% else %}
		    <h3>当前没有回滚任务</h3>
		 
		 {%  endif %}
			
			
			
		</tbody>
</table>
</div>



{%  endblock %}